<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title><%=h controller.action_name %></title>
<meta name="description" content="<%# Testrepos::Info.app_name %>" />
<meta name="keywords" content="issue,bug,tracker" />
<%= stylesheet_link_tag 'application', :media => 'all' %>
<%= javascript_include_tag :defaults %>
<%= javascript_include_tag "ext-3.1.0/adapter/ext/ext-base" %>
<%= javascript_include_tag "ext-3.1.0/ext-all-debug" %>
<%= javascript_include_tag "ext-3.1.0/src/locale/ext-lang-ja" %>
<%= javascript_include_tag "ext-3.1.0/examples/ux/ColumnNodeUI" %>
<%= stylesheet_link_tag    "ext-3.1.0/resources/css/ext-all" %>
<%= stylesheet_link_tag    "ext-3.1.0/examples/ux/css/ColumnNodeUI" %>
<%= javascript_include_tag "mylib" %>
<%= yield :header_tags -%>
</head>
<body>
<div id="wrapper">
<div id="top-menu">
    <div id="account">
      <%= render_menu :project_menu -%>
    </div>
    <%= render_menu :project_menu -%>
</div>
<div id="header">
    <div id="quick-search">
    </div>
    <h1><%# page_header_title %></h1>
    <div id="main-menu">
      <%= render_menu :project_menu -%>
      <!-- <%= render_main_menu("specification") %> -->
    </div>
</div>

<% if defined?(@content_for_sidebar) %>
  <div id="sidebar">
    <%= yield :sidebar %>
  </div>
<% end %>
<div id="content">
  <%= yield %>
  <div style="clear:both;"></div>
</div>

<div id="ajax-indicator" style="display:none;"><span><%# l(:label_loading) %></span></div>

<div id="footer">
    Powered by <%# link_to Testrepos::Info.app_name, Testrepos::Info.url %> &copy; 2010 Yuta Namiki
</div>
</div>
<%# call_hook :view_layouts_base_body_bottom %>
</body>
</html>
